body{
    background-color: rgb(111, 132, 189);
    color:rgb(246, 248, 250);
    font-size: 20px;
    display:block;
    margin:8px;
}

h1{
    font-size: 70px;
    color:rgb(234, 234, 245);
}

h2{
    text-shadow: 1px 1px;
    font-style: oblique;
    color: rgb(17, 17, 15);
    margin:8px;
}
p {
    font-style: oblique;
    margin:25px;
}

#mainHeading { 
    color:red;
}

ul li {
    background:#cce5ff;
    color: darkblue;
    margin:6px;
  }

.funParagraph {
    color:green;
}

#borderimg {
    border:12px solid;
    border-image: url(border.png)25 round;
}

p.double {outline-style: double;}

div {
    background-color:rgb(201, 243, 12);
    width:400px;
    border:10px solid rgb(160, 79, 4);
    padding: 50px;
    margin: 8px;
    font-style: oblique;

}